.markdown-body .note {
  background-color: #474748; 
  border-radius: 10px;
  border-left: 10px solid #d4d5d8;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.markdown-body .tip {
  background-color: #003100;
  border-radius: 10px;
  border-left: 10px solid #009400;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.markdown-body .info {
  background-color: #193d47;
  border-radius: 10px;
  border-left: 10px solid #4cb3d4; 
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.markdown-body .warning {
  background-color: #4d3800; 
  border-radius: 10px;
  border-left: 10px solid #e6a700;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.markdown-body .danger {
  background-color: #4b1113; 
  border-radius: 10px; /* rounded corners */
  border-left: 10px solid #e13238;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}  

.markdown-body .admonition-title {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.markdown-body .note .admonition-title::before {
  content: "ℹ️ ";
}
.markdown-body .tip .admonition-title::before {
  content: "💡 ";
}
.markdown-body .info .admonition-title::before {
  content: "ℹ️ ";
}
.markdown-body .warning .admonition-title::before {
  content: "⚠️ ";
}
.markdown-body .danger .admonition-title::before {
  content: "🔥 ";
}
.markdown-body .note-light .admonition-title::before {
  content: "ℹ️ ";
}
.markdown-body .tip-light .admonition-title::before {
  content: "💡 ";
}
.markdown-body .info-light .admonition-title::before {
  content: "ℹ️ ";
}
.markdown-body .warning-light .admonition-title::before {
  content: "⚠️ ";
}
.markdown-body .danger-light .admonition-title::before {
  content: "🔥 ";
}

.markdown-body .note-light {
  background-color: #f0f0f0; 
  border-radius: 10px;
  border-left: 10px solid #a0a0a0;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}

.markdown-body .tip-light {
  background-color: #e0f2e0;
  border-radius: 10px;
  border-left: 10px solid #008000;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}

.markdown-body .info-light {
  background-color: #e0f8ff;
  border-radius: 10px;
  border-left: 10px solid #00a0c0;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}

.markdown-body .warning-light {
  background-color: #fff8e0;
  border-radius: 10px;
  border-left: 10px solid #e6a700;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}

.markdown-body .danger-light {
  background-color: #ffe0e0;
  border-radius: 10px;
  border-left: 10px solid #e13238;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
