name: CI & Publish

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Start xvfb (Linux only)
        if: runner.os == 'Linux'
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      - run: npm install
      - run: npm run compile
      - run: npm test
        env:
          DISPLAY: ':99.0'

  publish-openvsx:
    name: Publish to Open VSX
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npm run compile
      - name: Publish Extension
        run: npx ovsx publish -p ${{ secrets.OPEN_VSX_TOKEN }}

  # Uncomment this job to publish to VS Code Marketplace
  # publish-vscode:
  #   if: startsWith(github.ref, 'refs/tags/v') && runner.os == 'Linux'
  #   runs-on: ubuntu-latest
  #   needs: build-and-test
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 18
  #     - run: npm install
  #     - run: npm run compile
  #     - name: Publish to VS Code Marketplace
  #       run: npx vsce publish -p ${{ secrets.VSCE_PAT }}